# pnpm-related options
shamefully-hoist=true
strict-peer-dependencies=false
@gsap:registry=https://npm.greensock.com/
# sign into gsap to retrieve token
//npm.greensock.com/:_authToken={authTokenHere}
